#book-listings.w3-modal
    .w3-modal-content.w3-card-4.w3-animate-zoom
        header.w3-container.w3-sand 
            span.w3-button.w3-sand.w3-xlarge.w3-display-topright(onclick="document.getElementById('book-listings').style.display='none'") ×
            h1 Select Your Listing Type
        .w3-bar.w3-border-bottom
            button.tablink.w3-bar-item.w3-button(onclick="openBook(event, 'booksAll')") Books - All
            button.tablink.w3-bar-item.w3-button(onclick="openBook(event, 'booksCheckedOut')") Books - Checked Out
            button.tablink.w3-bar-item.w3-button(onclick="openBook(event, 'booksOverdue')") Books - Overdue
        #books-all.w3-container.book
        a(href=`/${entity}?page=1`) All | 
        a(href=`/${entity}?page=1&filter=overdue`) Overdue | 
        a(href=`/${entity}?page=1&filter=checked_out`) Checked Out
            h2 Books - All
            include ./_table_def.pug
            include ./_table_heads.pug
            include ./_table_rows_books.pug
        #books-checked-out.w3-container.book
        a(href=`/${entity}?page=1`) All | 
        a(href=`/${entity}?page=1&filter=overdue`) Overdue | 
        a(href=`/${entity}?page=1&filter=checked_out`) Checked Out
            h2 Books - Checked Out
            include ./_table_def.pug
            include ./_table_heads.pug
            include ./_table_rows_books.pug
        #books-overdue.w3-container.book
        a(href=`/${entity}?page=1`) All | 
        a(href=`/${entity}?page=1&filter=overdue`) Overdue | 
        a(href=`/${entity}?page=1&filter=checked_out`) Checked Out
            h2 Books - Overdue
            include ./_table_def.pug
            include ./_table_heads.pug
            include ./_table_rows_books.pug
        .w3-container.w3-amber.w3-padding
            button.w3-button.w3-right.w3-white.w3-border(onclick="document.getElementById('book-listings').style.display='none'") Close
