#book-new-form.w3-modal
    .w3-modal-content.w3-card-4.w3-animate-zoom
        .w3-container.w3-sand
            span.w3-button.w3-sand.w3-xlarge.w3-display-topright(onclick="document.getElementById('book-new-form').style.display='none'") ×
            h1 New Book
            form(action=`${ detail ? `/${ content }/${ book.id }/${ book.title.replace(/ /g, '_') }` : `/${content}/new` }`, method="post")
                p
                    label(for='title') Title
                    input#title(type='text')
                p
                    label(for='author') Author
                    input#author(type='text')
                p
                    label(for='genre') Genre
                    input#genre(type='text')
                p
                    label(for='first_published') First Published
                    input#first_published(type='text')
                p
                    input(type='submit', value='Create New Book')