.card#loan-form
    h2 New Loan
    form(action=`/${content}/new`, method="post")
        p.input-set
            label(for='book_id') Book
            select(name='book_id')
                each book in books
                    option(value=book.id)= book.title
        p.input-set
            label(for='patron_id') Patron
            select(name='patron_id')
                each patron in patrons
                    option(value=patron.id)= patron.name
        p.input-set
            label(for='loaned_on') Loaned On:
            input(id="loaned_on", name="loaned_on", type="text", value=`${ today ? today : '' }`)
        p.input-set
            label(for='return_by') Return By:
            input(id="return_by", name="return_by", type="text", value=`${ weekFromToday ? weekFromToday : '' }`)
        p.input-set
            label(for='returned_on') Returned On:
            input(id="returned_on", name="returned_on", type="text")
        p
            input(type='submit', value='Save Loan')