.card#patronProperties.form
    h2 New/Update Patron
    form(action=`${ patronDetail ? `/${ entity }/${patronProperties.id}/${ patronProperties.first_name }_${ patronProperties.last_name }` : `/${ entity }/new`}`, method="post")
        p.input-set
            label(for='first_name' class="label") First Name
            input(id="first_name", name="first_name", type="text", value=patronProperties.first_name)
        p.input-set
            label(for='last_name' class="label") Last Name
            input(id="last_name", name="last_name", type="text", value=patronProperties.last_name)
        p.input-set
            label(for='address' class="label")  Address
            input(id="address", name="address", type="text", value=patronProperties.address)
        p.input-set
            label(for='email' class="label") Email
            input(id="email", name="email", type="text", value=patronProperties.email)
        p.input-set
            label(for='library_id' class="label") Library ID
            input(id="library_id", name="library_id", type="text", value=patronProperties.library_id)
        p.input-set
            label(for='zip_code' class="label") Zip Code
            input(id="zip_code", name="zip_code", type="text", value=patronProperties.zip_code)
        p
            input(type="submit" value=`${ patronDetail ? 'Update' : 'Save Patron'}`)
    include ./_error